<h2><%= book.title %></h2>

<img height="150" width="100" src="<%= book.coverImagePath %>">
<div>
  <div>Author</div>
  <div><%= book.author.name %></div>
</div>
<div>
  <div>Publish Date</div>
  <div><%= book.publishDate.toDateString() %></div>
</div>
<div>
  <div>Page Count</div>
  <div><%= book.pageCount %></div>
</div>
<div>
  <div>Description</div>
  <div><%= book.description %></div>
</div>

<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include("../partials/deleteForm", {
            url: `/books/${book.id}`}) %>
<a href="/authors/<%= book.author.id %>">View Author</a>
